manifest {
    name            = 'deaconizer'
    description     = 'Fastp, Deacon host filtering, Kraken2 classification, and MultiQC reporting'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '0.1.0'
}

params {
    input  = null
    ref    = null
    db     = null
    outdir = 'results'

    fastp_args = ''

    deacon_index_args       = ''
    deacon_kmer_length      = 31
    deacon_window_size      = 15
    deacon_entropy_threshold = 0.0

    deacon_abs_threshold = 1
    deacon_rel_threshold = 0.0
    deacon_prefix_length = 0
    deacon_deplete       = true
    deacon_filter_args   = ''
    deacon_read_type     = ''

    kraken2_args = ''

    kraut_rank            = 'S'
    kraut_metric          = 'TOT'
    kraut_maketable_args  = ''
    kraut_plotmulti_args  = ''
    kraut_plot_kind       = ''
    kraut_plot_ext        = 'png'

    multiqc_args   = ''
    multiqc_config = "${projectDir}/assets/multiqc_config.yaml"

    publish_dir_mode = 'copy'

    max_jobs = 100

    k8s_storage_claim_name = null
    k8s_storage_mount_path = '/workspace'
    k8s_storage_sub_path   = '/'
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 143] ? 'retry' : 'terminate' }
    maxRetries    = 1

    withLabel:process_low {
        cpus   = 2
        memory = '4 GB'
        time   = '2h'
    }

    withLabel:process_medium {
        cpus   = 4
        memory = '12 GB'
        time   = '6h'
    }

    withLabel:process_high {
        cpus   = 8
        memory = '32 GB'
        time   = '12h'
    }
}

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
    }

    singularity {
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        process.ext.singularity_pull_docker_container = false
    }

    apptainer {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.ext.singularity_pull_docker_container = false
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = params.max_jobs
    }

    k8s {
        process.executor = 'k8s'
        executor.queueSize = params.max_jobs
        k8s.storageClaimName = params.k8s_storage_claim_name
        k8s.storageMountPath = params.k8s_storage_mount_path
        k8s.storageSubPath = params.k8s_storage_sub_path
    }

    test {
        params.input = "${projectDir}/assets/samplesheet.csv"
        params.ref   = "${projectDir}/assets/testdata/reference.fasta"
        params.db    = "${projectDir}/assets/testdata/kraken2db"
        params.outdir = "${projectDir}/results"
    }
}
